.lets-talk-container {
  width: 100%;
  min-height: 105vh;
  background: rgba(0, 0, 0, 1);
}
.lets-talkk-text {
  width: 50%;
}
.footer-container {
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 3em;
}
.contact-container {
  width: 35%;
  padding: 0em 0.5em;
}
.lets-discuss-container {
  width: 62%;
  padding: 0em;
}
.form-container {
  width: 100%;
}
.contact {
  font-size: 4em;
  line-height: 96px;
  margin: 0em;
}
.text-below-contact,
.email-text,
.email,
.phone-no-text,
.phone-no {
  font-size: 1em;
  color: #b6b6b6;
  line-height: 24px;
}
.email,
.phone-no {
  color: #ffffff;
  margin-top: -1em;
}
.phone-no,
.email,
.text-below-contact {
  margin-bottom: 2em;
}

.form {
  display: flex;
  margin-bottom: 2em;
}
.contact-intro {
  font-size: 1.5em;
  line-height: 36px;
  color: #ffffff;
  width: 100%;
}
.fullname-container,
.email-container {
  width: 50%;
}
.form p,
.message {
  color: white;
  line-height: 24px;
  font-size: 1em;
}
.form input {
  width: 85%;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  color: white;
  background: rgba(34, 34, 34, 1);
}
.form-container textarea {
  width: 93%;
  padding: 1em;
  border-radius: 0.5em;
  background: rgba(34, 34, 34, 1);
  border: none;
}
.send-msg-btn {
  padding: 1em;
  font-size: 1em;
  background-color: #3e6adb;
  color: white;
  border: none;
  margin-top: 1.5em;
}
.mail-container {
  position: relative;
  right: 26em;
  bottom: 19em;
  width: 25%;
}
.mail-container img {
  padding-right: 0.5em;
}
.vertical-line {
  width: 0.1em;
  background: white;
  height: 18.5em;
  position: relative;
  right: 26.5em;
  bottom: 38em;
}
@media screen and (max-width: 1280px) {
  .mail-container {
    right: 27em;
  }
  .vertical-line {
    right: 27.5em;
  }
}
@media screen and (max-width: 1025px) {
  .mail-container {
    right: 21.5em;
    bottom: 21em;
  }
  .vertical-line {
    right: 22em;
    bottom: 40em;
  }
}
@media screen and (max-width: 920px) {
  .mail-container {
    right: 19em;
  }
  .vertical-line {
    right: 19.5em;
    bottom: 41.5em;
    height: 20em;
  }
}
@media screen and (max-width: 920px) {
  .mail-container {
    right: 17em;
  }
  .vertical-line {
    right: 17.5em;
  }
}
@media screen and (max-width: 800px) {
  .footer-container {
    display: block;
    margin: 1em;
  }
  .vertical-line {
    display: none;
  }
  .lets-talkk-text {
    width: 70%;
    position: relative;
    left: 1em;
    top: 3em;
  }
  .contact-container {
    width: 100%;
    padding: 0em;
  }
  .contact {
    font-size: 1.5em;
    line-height: 36px;
  }
  .contact-intro {
    font-size: 1em;
    line-height: 21px;
    width: 80%;
  }
  .text-below-contact {
    font-size: 1em;
    line-height: 25px;
  }
  .lets-discuss-container {
    width: 100%;
  }
  .form {
    display: block;
  }
  .form input {
    width: 94%;
  }
  .fullname-container,
  .email-container {
    width: 100%;
    margin-top: 2em;
  }
  .mail-container {
    width: 100%;
  }
  .mail-container {
    position: unset;
  }
  .send-msg-btn {
    font-size: 0.8em;
  }
}
