.portfolio-container {
  background-color: black;
  padding: 1em 0em 0em 0em;
}

.portfolio-content-container {
  margin: 3em;
}
.portfolio {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  line-height: 72px;
  color: #3e6adb;
}
.portfolio-classification-container {
  font-size: 1.5em;
  line-height: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
.case-study,
.mockup {
  margin: 0.5em;
  font-weight: bold;
  color: rgba(90, 94, 98, 1);
}
.portfolio-image {
  position: relative;
  left: 42.5em;
  top: -2.5em;
  width: 45%;
}
.medisource-container,
.blackgold-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}
.medisource-img,
.blackgold-img {
  width: 60%;
}
.medisource-text,
.blackgold-text {
  width: 30%;
  text-align: left;
  margin-top: 5em;
}
.medisource-text1,
.blackgold-text1 {
  font-size: 2.3em;
  font-weight: bold;
  color: white;
  line-height: 54px;
  margin: 0em;
}
.medisource-text2,
.blackgold-text2 {
  font-size: 1em;
  font-weight: normal;
  color: #ffffff;
  line-height: 24px;
}
.medisource-btn,
.blackgold-btn {
  padding: 0.5em;
  border-color: rgba(86, 125, 224, 1);
  color: rgba(86, 125, 224, 1);
  background-color: transparent;
}
.view-others {
  background-color: #121212;
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  padding: 0.5em;
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .medisource-container,
  .blackgold-container {
    display: block;
  }
  .medisource-img,
  .blackgold-img {
    width: 100%;
  }
  .medisource-text,
  .blackgold-text {
    width: 100%;
    margin: 0em;
  }
  .portfolio-content-container {
    margin: 1em;
  }
  .medisource-text1,
  .blackgold-text1,
  .portfolio {
    font-size: 1.5em;
  }
  .case-study,
  .mockup,
  .medisource-text2,
  .blackgold-text2 {
    font-size: 0.9em;
  }
  .portfolio-classification-container {
    margin-bottom: 1em;
  }
}
